[
	{lager, [
      {handlers, [
        {lager_console_backend, info},
        {lager_file_backend, [{file, "ebin/logs/error.log"},
                              {level, error},
                              {date, "$D0"},
                              {count, 7}]},
        {lager_file_backend, [{file, "ebin/logs/console.log"},
                              {level, info},
                              {date, "$D0"},
                              {count, 7}]}
      ]}
    ]}

].